#side-bar {
   min-height:650px;
   background-color:#181B1C;
   padding: 15px 8px;
}

@media screen and (max-width:767px){
   #side-bar {
      display:none;
   }
}

hr {
   background: #272A2D;
}

.comp-header {
   color: #9AC802;;
}

.comp-header .text {
   font-family: Roboto;
   font-weight:400;
   font-size:12px;
   line-height:18px;
   text-transform: uppercase;
   color: #9AC802;
   padding-left: 7px;
}

.main-section {
   display:flex;
   flex-direction: row;
   justify-content: space-between;
}

.simple-text {
   font-family: Roboto, Mono;
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 24px;
   color:#fff;
}

.simple-text-sm{
   font-family: Roboto;
   font-style: normal;
   font-weight: 500;
   font-size: 12px;
   line-height: 16px;
   color:#fff;
}

/* --------- Trading History ----------- */
.hidden-opacity {
   opacity:0;
}

img.history {
   width: 100%;
   height: 80px;
}

.trading-btn button {
   background-color: unset;
   border-color:unset;
   border:none;
   outline:none;
}

.trading-btn button:hover, .trading-btn button:focus, 
.trading-btn button.active,.trading-btn button:active {
   color: #666E79;
   background-color: unset;
   border-color:unset;
}

/*------- Training Wallet -----*/
#training-wallet .comp-header {
   padding-bottom: 10px;
}

#training-wallet .main-section {
   margin-bottom:10px;
}

#training-wallet button {
   font-size:12px;
   margin-top: -5px;
   font-weight: 600;
}